body{
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px; 
}


.cabecalho {
	padding: 10PX 0;
	background-color: #2283c9;
	padding: 40px 20px;

}
.titulo{
	margin: 0;
	color: #ffffff;
	font-size: : 54px;
	text-align: center;

}
.but{
	margin: 30px 0;


}
.botoa{


}
.cabecalho {
	padding: 10PX 0;
	background-color: #2283c9;
	padding: 40px 20px;

}

